:root {
    --pastcolour: rgb(101,219,219);
    --futurecolour: rgb(144,105,203);
}

* {
    box-sizing: border-box;
    margin: 0px;
    cursor: default;
  }

.row {
    display: flex;
}
.spacearound {
    justify-content: space-around;
}
.maxwidth {
    width: 100vw;
}
.maxheight {
    height: 100vh;
}
.centered {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.fitcontent {
    width: fit-content;
}
.centertext {
    text-align: center;
    line-height: 100vh;
}
.left {
    background-color: var(--pastcolour);
}
.right {
    background-color: var(--futurecolour);
}
.middle {
    background: linear-gradient(to right,var(--pastcolour),var(--futurecolour));
}
.hover:hover{
    animation-name: pastfuture;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pastfuture {
    45% {font-size: 5rem;}
    55% {font-size: 5rem;}
}

.past {
    background-color: var(--pastcolour);
    padding-left: 15%;
    padding-right: 15%;
}
.future {
    background-color: var(--futurecolour);
    padding-left: 15%;
    padding-right: 15%;
}
.textright {
    padding-left: 50%;
}
.textleft {
    padding-right: 50%;
}
.stack-lg > * + * {
    padding-top: 2rem;
}
.stack-xl > *  {
    padding-top: 4rem;
}